@import url(./styles/colors.css);

* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--main-negro) var(--main-blanco); /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: var(--main-blanco);
}

*::-webkit-scrollbar-thumb {
  background: var(--main-negro);
  border: none;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--main-blanco);
}

a {
  text-decoration: none;
}
a:active,
a:focus,
a:visited {
  color: #000;
}

/* MAIN */

.main {
  width: 100%;
  height: 100vh;
  background-image: url(./images/Valorant_Cover_Art.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
}
.main__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.main__wrapper {
  width: 60%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.main__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 555px;
}

.main__title {
  font-size: 95px;
  font-weight: 600;
  color: #fff;
}

.main__info {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  z-index: 10;
}

.main__btn {
  align-self: flex-start;
  margin: 30px 0;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #dfa974;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  width: auto;
  height: auto;
  z-index: 10;
}

.main__btn:hover {
  cursor: pointer;
}

/* ABOUT */

.about {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  border-bottom: var(--main-rojo) solid 1px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.about__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 555px;
  text-align: center;
}

.about__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
}

.about__info-us {
  align-self: center;
  color: var(--main-rojo);
  text-transform: uppercase;
  font-weight: 500;
}

.about__title {
  font-size: 44px;
  line-height: 58px;
  font-weight: 400;
  margin: 10px auto 22px auto;
}

.about__text {
  margin: 10px 0;
}

.readMore__btn {
  color: #000;
  align-self: center;
}

/* What we do */

.whatWeDo {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.whatWeDo__text {
  color: var(--main-rojo);
  text-transform: uppercase;
}

.whatWeDo__title {
  font-size: 44px;
  line-height: 58px;
  margin: 10px 0 36px;
  font-weight: 300;
}

.whatWeDo__title-wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.whatWeDo__grid-wrapper {
  width: 80%;
  max-width: 1440px;
  display: grid;
  grid-gap: 6vw;
  grid-template-columns: repeat(3, 1fr);
  padding: 80px 0;
  margin: 0 auto;
}

.whatWeDo__card {
  width: auto;
  padding: 30px 35px 18px;
}

.whatWeDo__card-title {
  margin: 10px 0 15px;
}

.whatWeDo__card-image {
  width: 40px;
  height: 40px;
  filter: invert(72%) sepia(46%) saturate(369%) hue-rotate(346deg)
    brightness(91%) contrast(92%);
}

/* equipo */

.equipo {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: var(--main-rojo) solid 1px;
}

.equipo__wrapper {
  width: 100%;
  margin: 0;
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.equipo__card {
  background-image: url(./images/room1.jpg);
  height: 600px;
  position: relative;
  overflow: hidden;
}

.equipo__card-anim {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 1200px;
  top: 0;
  left: 0;
  padding: 450px 10px;
}
.equipo__card-anim:hover {
  position: absolute;
  top: -300px;
  left: 0;
  animation: ad 0.5s ease;
}

@keyframes ad {
  from {
    top: 0;
  }
  to {
    top: -300px;
  }
}

.equipo__anim-title {
  color: #fff;
  font-size: 44px;
  margin: 15px 0;
}

.equipo__anim-price {
  color: #fff;
  font-size: 30px;
  margin: 0 0 30px 0;
}

.equipo__anim-price_span {
  font-size: 40px;
  color: #dfa974;
}

.equipo__anim-text {
  width: auto;
  color: #fff;
  padding: 20px;
}

/* TESTIMONIALS */

.news {
  text-align: center;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.news__text {
  color: #dfa974;
  text-transform: uppercase;
}

.news__title {
  font-size: 44px;
  line-height: 58px;
  margin: 10px 0 36px;
  font-weight: 300;
  color: #000;
}

.news__grid-wrapper {
  width: 1170px;
  display: grid;
  grid-template-areas:
    'a b c'
    'd d e';
  grid-gap: 20px;
}

.news__image1 {
  background-image: url(./images/team5.jpg);
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 2px;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  max-width: auto;
  height: 450px;
  background-color: red;
  grid-area: a;
  position: relative;
}
.news__image2 {
  background-image: url(./images/team1.jpg);
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 2px;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  max-width: auto;
  height: 450px;
  background-color: green;
  grid-area: b;
  position: relative;
}
.news__image3 {
  background-image: url(./images/team2.jpg);
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 2px;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  max-width: auto;
  height: 450px;
  background-color: blue;
  grid-area: c;
  position: relative;
}
.news__image4 {
  background-image: url(./images/team4.jpg);
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 2px;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  max-width: auto;
  height: 450px;
  background-color: blueviolet;
  grid-area: d;
  position: relative;
}
.news__image5 {
  background-image: url(./images/team3.jpg);
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 2px;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  max-width: auto;
  height: 450px;
  background-color: #000;
  grid-area: e;
  position: relative;
}

.news__info {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.news__info-text {
  background-color: var(--main-rojo);
  color: #fff;
  padding: 5px;
  border-radius: 2px;
  display: inline;
}

.news__info-title {
  font-size: 24px;
  background-color: var(--main-rojo);
  font-weight: 600;
  padding: 5px;
  border-radius: 2px;
  color: #fff;
  margin: 18px 0;
}
.news__info-title:hover {
  cursor: pointer;
}

.news__info-date {
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  padding: 5px;
  border-radius: 2px;
  background-color: var(--main-rojo);
}

/* FOOTER */

.footer {
  width: 100%;
  height: 412px;
  background-color: rgb(0, 12, 44);
}

.footer__sectionOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}

.footer__sectionOne-left {
  width: 389.99px;
  height: 300px;
  background-color: green;
}
.footer__sectionOne-center {
  width: 389.99px;
  height: 300px;
  background-color: blue;
}
.footer__sectionOne-right {
  width: 389.99px;
  height: 300px;
  background-color: hotpink;
}

.footer__sectionTwo {
  height: 107px;
  background-color: rgba(0, 0, 0, 0.4);
}

/*  MAP */

.map {
  padding: 40px;
}

/* ///////////////////////////////////
///////////// BOOTSTRAP ///////////
/////////////////////////////////// */
.carousel__wrapper {
  width: 1170px;
  height: 900px;
  padding: 80px;
}

.carousel__title {
  font-size: 44px;
  line-height: 58px;
  margin: 10px 0 36px;
  font-weight: 300;
  color: #000;
  text-align: center;
}
/* ///////////////////////////////////
///////////////////////////////////
/////////////////////////////////// */

/* MEDIA QUERY 1280 */

@media screen and (max-width: 1280px) {
  .about__wrapper {
    flex-direction: column;
  }

  .equipo__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MEDIA QUERY 1200 */
@media screen and (max-width: 1200px) {
  .news__grid-wrapper {
    width: 95%;
    display: grid;
    grid-template-areas:
      'a b'
      'c d'
      'e f';
    grid-gap: 20px;
  }
}

/* MEDIA QUERY 990 */

@media screen and (max-width: 990px) {
  .main__wrapper {
    width: 80%;
  }
}

/* MEDIA QUERY 930 */
@media screen and (max-width: 930px) {
  .nav {
    justify-content: space-between;
  }
  .nav__logo {
    width: auto;
    margin: 0;
  }
  .header__contact {
    height: auto;
  }

  .nav__search {
    margin: 0 20px;
  }
  .header__telephone {
    padding: 0 5px;
    min-width: 160px;
    border: none;
    margin-right: auto;
  }

  .header__email {
    padding: 0 5px;
    width: auto;
  }

  .header__email-img {
    margin: 0 5px 0 0;
  }

  .header__icons-wrapper {
    width: auto;
  }
  .header__wrapperOne {
    flex-direction: column;
    margin-right: auto;
  }
}

/*  MEDIA QUERY 880 */
@media screen and (max-width: 880px) {
  .whatWeDo__grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MEDIA QUERY 710 */

@media screen and (max-width: 710px) {
  .main {
    height: 1200px;
  }
  .main__wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .news__grid-wrapper {
    width: 95%;
    display: grid;
    grid-template-areas:
      'a'
      'b'
      'c'
      'd'
      'e'
      'f';
    grid-gap: 20px;
  }

  .about__image-wrapper {
    flex-direction: column;
  }

  .nav__menu-wrapper {
    display: none;
  }
}
